<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Why are you on this app ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>For work</ion-label>
            <ion-radio value="WORKER" slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>For fun</ion-label>
            <ion-radio value="FUN" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Identify informations</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Profil informations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio value="MALE" slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio value="FEMALE" slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>No want to tell you</ion-label>
            <ion-radio value="UNGENRED" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone number</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Register</ion-button>
</ion-content>
